.text{
    color: red;
}
body{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    font-size: 85px;
    margin: 15px;
    width: 20%;
}
.areatext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100px;
    font-size: 85px;
}
.but{
    background-color: rgb(54, 54, 248);s
}
